<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body style="font-family:Arial, Helvetica, sans-serif">
    <%- include('../partials/header.ejs') %>

    <div class="container col-xl-10 col-xxl-8 px-4 py-5" bis_skin_checked="1">


        <% if (locals.dish) { %>
            <img src="/images/<%= dish.image %>" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Food image" loading="lazy" style="width: 960px; height: 500px; object-fit: cover;">
        <% } %>

        <div class="row g-lg-5 py-5" bis_skin_checked="1">
            <% if (locals.dish) { %>
                <div class="col-lg-7 text-center text-lg-start" bis_skin_checked="1">
                    <h1 class="display-6 fw-bold lh-1 text-body-emphasis mb-3"><%= dish.name %></h1>
                    <p class="col-lg-10 fs-5"><%= dish.intro %></p>
                    <br>
                    <h4>How to cook?</h4>
                    <p style="font-size: 18px;"><%= dish.proccess %></p>
                </div>
            <% } %>
            
            <div class="col-md-10 mx-auto col-lg-5" bis_skin_checked="1">
                <h2 class="display-7 fw-bold lh-1 text-body-emphasis mb-3">Ingredients</h2>

                <ul class="list-group list-group-flush">
                    <% if (locals.ingredients) { %>
                        <% ingredients.forEach(ingredient => { %>
                            <li class="list-group-item mb-3 display-7"><%= ingredient.ingredient %></li>
                        <% }) %>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>

    <%- include('../partials/footer.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>